# Python
*.pyc
*.pyo
*.pyd
*__pycache__
'*.pyc'
'*/__pycache__'

# Django
*.log
*.pot
*.pyc
*.sqlite3

# Environment
.env
*.env

# Static and media files
/static/
media/

# Virtual environment
venv/
env/

# IDEs and editors
.idea/
.vscode/
.DS_Store